* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GenshinUsedFont;
  font-display: swap;
  src: url("../../../../data/font/HYWenHei-85W.ttf");
}

html {
  background-color: hsl(0, 0%, 97%);
  color: #484848;
  width: 4650px;
  font-family: GenshinUsedFont, monospace, sans-serif;
  -webkit-text-stroke: 0.018em currentColor;
}

body {
  padding: 10px;
}

body:before {
  position: fixed;
  left: -10px;
  top: -10px;
  width: 430px;
  height: calc(100vh + 10px);
  content: "";
  background: url("../../../../resources/Version2/backgrounds/contour-background.svg");
  background-size: cover;
  opacity: 0.3;
}

.main-content {
  color: #636363;
}

.card-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.26));
}

img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: hsl(0deg 0% 83%);
}

.namecard-container {
  margin-top: -50px;
  width: 100%;
  min-height: 152px;
  border-radius: 10px 10px 0 0;
  background-size: 100% !important;
  -webkit-mask: url("../../../../resources/Version2/masks/namecard-mask.svg");
  -webkit-mask-size: 100%;
  display: grid;
  grid-template-areas:
    "placeholder"
    "player-info";
  grid-template-rows: 68px 1fr;
  place-items: center;
}

.info-container {
  display: grid;
  grid-row-gap: 16px;
  background-color: #fff;
  width: 100%;
  place-items: center;
  padding-top: 16px;
}

.player-info-container {
  grid-area: player-info;
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 1px;
  justify-items: stretch;
  font-size: 18px;
}

.uid,
.player-name {
  grid-column: 1 / -1;
}

.player-name {
  width: 100%;
  text-align: center;
  text-justify: inter-character;
}

.section-container {
  display: grid;
  grid-row-gap: 12px;
}

.stats {
  display: grid;
  grid-template-columns: auto 64px auto max-content;
  grid-row-gap: 3px;
  grid-column-gap: 20px;
}

.container-title {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.title-content {
  display: grid;
  width: 300px;
  grid-template-areas:
    "arrow-left main-title arrow-right"
    "arrow-left sub-title arrow-right";
  grid-template-rows: 30px max-content;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  grid-column-gap: 5px;
}

.arrow-left,
.arrow-right {
}

.arrow-left {
  grid-area: arrow-left;
  justify-self: end;
}

.arrow-right {
  grid-area: arrow-right;
  transform: scaleX(-1);
  justify-self: start;
}

.main-title {
  white-space: nowrap;
  font-size: 20px;
  transform: translateY(0.03em);
}

.subtitle {
  grid-area: sub-title;
  font-size: 12px;
  white-space: nowrap;
}

.container-explorations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.exploration {
  min-width: 168px;
  min-height: 58px;
  padding: 4px;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 10px hsl(0deg 0% 70% / 16%);
}

.logo {
  width: 42px;
  height: 42px;
  -webkit-mask-size: 42px;
  /* background: linear-gradient(hsl(59, 47%, 75%) 0%, hsl(42, 59%, 76%) 45%, hsl(37, 29%, 57%) 80%); */
  background: #636363;
}

.exp-area {
  display: grid;
  grid-template-columns: max-content auto;
  height: 100%;
  width: 100%;
  place-items: center;
}

.container-detailed-exploration {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(56px, max-content) max-content;
  font-size: 13px;
  grid-row-gap: 2px;
  grid-column-gap: 7px;
}

.container-character-box {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 8px;
}

.character-box {
  display: grid;
  grid-template-areas:
    "headups"
    "avatar"
    "text-area";
  grid-template-rows: 0 min-content auto;
  min-height: 110px;
  width: 80px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 6px;
  box-shadow: 0 0 10px hsl(0deg 0% 70% / 16%);
}

.container-char-headups {
  display: grid;
  width: 100%;
  grid-template-areas: "element constellation";
  grid-template-columns: 1fr 1fr;
  grid-area: headups;
  justify-items: stretch;
  z-index: 1;
}

.element {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 2px;
}

.constellation {
  justify-self: end;
  background: #33333391;
  color: #f0ebe3;
  font-size: 13px;
  width: 15px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6px;
  backdrop-filter: blur(4px);
}

.main {
  width: 80px;
  height: 80px;
  border-radius: 6px 6px 12px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  grid-area: avatar;
  grid-row-start: headups;
  grid-row-end: avatar;
}

.char-info {
  grid-area: text-area;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 10px;
}

.max-constellation {
  color: hsl(45deg 100% 64%);
  text-shadow: 0 0 4px hsl(45deg 100% 20%);
}

.char-level {
  margin-right: 4px;
}

.weapon-affix {
  color: hsl(36deg 70% 48%);
}

.weapon-affix:before {
  content: " ";
}

#credit {
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-align: end;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

.talent_list {
  display: table;
  border-collapse: collapse;
  width: calc(100% + 30px);
  margin: 0 -15px -5px;
  font-size: 12px;
  /* border-radius: 0 0 15px 15px; */
  overflow: hidden;
}

.talent_list .avatar {
  display: table-row;
  font-family: tttgbnumber;
}

.talent_list .avatar {
  display: table-row;
}

.talent_list .avatar > div {
  box-shadow: 0 0 0.5px 0 #555 inset;
}

.talent_list .avatar:nth-child(odd) {
  background: #e0e0e0;
}

.talent_list .avatar:nth-child(even) {
}

.talent_list .avatar:nth-child(1) {
  background: #ccc;
}

.talent_list .avatar > div {
  display: table-cell;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

.talent_list .avatar .index {
  color: #333;
  width: 30px;
  padding-left: 5px;
}

.talent_list .avatar .name_cont {
  width: 80px;
}

.talent_list .avatar .star4 {
  background: rgba(137, 189, 233, 0.6);
}

.talent_list .avatar .star5 {
  background: rgba(239, 214, 137, 0.6);
}

.talent_list .avatar .name_cont {
  width: 80px;
}

.talent_list .avatar .name {
  text-align: left;
  display: flex;
  width: 80px;
}

.talent_list .th .name {
  justify-content: center;
}

.talent_list .avatar .name .avatar_img {
  width: 26px;
  height: 26px;
  position: relative;
  margin-right: 3px;
}

.talent_list .avatar .name img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  margin-left: 3px;
}

.talent_list .avatar .name .avatar_name {
  white-space: nowrap;
  overflow: hidden;
  width: 48px;
}

.talent_list .avatar .res {
  font-size: 12px;
  width: 90px;
}

.talent_list .avatar .res img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.talent_list .avatar > div.lvl90 {
}

.talent_list .avatar > div.fetter10 {
  /*background: url("./hart.png") center center no-repeat;*/
  background-size: contain;
  color: #fff;
}

.talent_list .cons span {
  display: inline-block;
  width: 14px;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  border-radius: 4px;
  margin-bottom: 2px;
}

.talent_list .life0 {
  color: #666;
}

.talent_list .life1 {
  background-color: #71b167;
  color: #fff;
}

.talent_list .life2 {
  background-color: #369961;
  color: #fff;
}

.talent_list .life3 {
  background-color: #4596b9;
  color: #fff;
}

.talent_list .life4 {
  background-color: #4560b9;
  color: #fff;
}

.talent_list .life5 {
  background-color: #531ba9cf;
  color: #fff;
}

.talent_list .life6 {
  background-color: #ff5722;
  color: #fff;
}

.talent_list .avatar .weapon {
  text-align: left;
  width: 148px;
}

.talent_list .avatar .weapon_1 {
  box-shadow: 0 0 4px 0 #a3a3a3 inset;
  background: #ebebebaa;
}

.talent_list .avatar .weapon_2 {
  box-shadow: 0 0 4px 0 #51b72fbd inset;
  background: #ddffdeaa;
}

.talent_list .avatar .weapon_3 {
  box-shadow: 0 0 4px 0 #396cdecf inset;
  background: #ddebffaa;
}

.talent_list .avatar .weapon_4 {
  box-shadow: 0 0 4px 0 #c539debf inset;
  background: #ffddf0aa;
}

.talent_list .avatar .weapon_5 {
  box-shadow: 0 0 4px 0 #deaf39 inset;
  background: #fff6dd;
}

.talent_list .avatar.th > div {
  box-shadow: none;
}

.talent_list .avatar.th .name,
.talent_list .avatar.th .weapon {
  text-align: center;
}

.talent_list .avatar .weapon_icon {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}

.talent_list .avatar .weapon_icon span {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.5);
}

.talent_list .weapon img,
.talent_list .talent_res img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.talent_list .weapon .weapon_box {
  display: flex;
  align-items: center;
}

.talent_list .weapon .weapon_box span {
}

.talent_list .weapon .weapon_lv {
  width: 30px;
  margin-left: 8px;
}

.talent_list .weapon .weapon_alv {
  width: 14px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  padding: 0 3px;
  border-radius: 4px;
  margin-right: 5px;
}

.talent_list .weapon .weapon_alv_0 {
  background-color: #555;
  color: #fff;
}

.talent_list .weapon .weapon_alv_1 {
  background-color: #45b97c;
  color: #fff;
}

.talent_list .weapon .weapon_alv_2 {
  background-color: #45abb9;
  color: #fff;
}

.talent_list .weapon .weapon_alv_3 {
  background-color: #4560b9;
  color: #fff;
}

.talent_list .weapon .weapon_alv_4 {
  background-color: #b545b9;
  color: #fff;
}

.talent_list .weapon .weapon_alv_5 {
  background-color: #ff5722;
  color: #fff;
}

.talent_list .weapon .weapon_name {
  flex-grow: 1;
  max-width: 60px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 2px;
  margin-left: 2px;
}

.talent_list .talent_res {
  color: #333;
}

.talent_list .talent_res.today_talent {
  box-shadow: 0 0 4px 0 #deaf39 inset;
  background: #fff6dd;
}

.talent_list .talent {
  color: #333;
}

.talent_list .avatar > div.talent_plus {
}

.talent_list .talent_plus {
  color: #006cc7;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  text-shadow: 0px 0px 1px #fff;
}

.talent_list .lv1 {
  background: rgba(60, 63, 65, 0.3);
}

.talent_list .lv2 {
  background: rgba(23, 184, 58, 0.5);
}

.talent_list .lv2.talent_plus {
  color: #005800;
}

.talent_list .lv3 {
  background: rgba(27, 128, 212, 0.5);
}

.talent_list .lv4 {
  background: rgba(146, 90, 255, 0.55);
}

.talent_list .lv4.talent_plus {
  color: #720465;
}

.talent_list .lv5 {
  /*background: url("./crown.png") center center no-repeat rgba(255, 36, 26, .55);*/
  background-size: contain;
}

.talent_list .lv5.talent_plus {
  color: #b70000;
}

.talent_notice {
  color: #888;
  font-size: 12px;
  text-align: right;
  padding: 12px 5px 5px;
}
