<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-note</title>
    <style type="text/css">
      @font-face {
        src: url("../../data/font/HYWenHei-85W.ttf");
        font-family: HYWenHei-55W;
      }

      html {
        width: 964px;
        height: 100%;
        font-family: HYWenHei-55W, monospace;
      }

      .app {
        background-repeat: no-repeat;
        width: 1000px;
        height: 900px;
      }
    </style>
  </head>
  <body>
    <div class="app" id="app"></div>
    <script type="text/javascript">
      function loadData() {
        const app = document.getElementById("app");
        const params = JSON.parse(
          decodeURIComponent(escape(window.atob(new URL(window.location.href).searchParams.get("data")) || "{}"))
        );
        if (params.bg) {
          app.style.backgroundImage = "url(" + params.bg + ")";
        }
        for (let val of params.items) {
          let item = document.createElement(val.type ? val.type : "div");
          if (val.text) item.innerHTML = val.text;
          if (val.css)
            item.style.cssText =
              "position:absolute;width:" +
              val.css.width +
              "px;height:" +
              val.css.height +
              "px;left:" +
              val.css.left +
              "px;top:" +
              val.css.top +
              "px;font-weight:bold;font-size:" +
              val.css.size +
              "px;color:" +
              val.css.color +
              ";";
          if (val.src) item.src = "https://upload-bbs.mihoyo.com/game_record/genshin/character_side_icon/" + val.src;
          app.appendChild(item);
        }
      }
      loadData();
    </script>
  </body>
</html>
